{% include 'UserBundle:Base:head.html.twig' %}

<body>
<main role="main">
    {% include 'UserBundle:Base:header.html.twig' %}
    {% include 'UserBundle:Base:menu.html.twig' %}
    <div class="containerProfile container">
        <a class="goToVideo" href="../user/{{ nickname }}">Voir les vidéos de {{ nickname }}</a><br><br>
        <div class="loader"></div>
        {% block profile %}
        <div class="data-profile">
            <h1>Profile</h1>
            <div class="profile-pic"> <img src="../assets/uploads/{{ profileImageName }}"
                                           alt="Profile Image">
            </div>
            <div class="infoContainer">
                <p>Pseudo <br>{{ nickname }}</p><br>
                <p>Email <br>{{ email }}</p><br>
                <p>Date de naissance <br>{{ birthDate|date('d-m-Y') }}</p>
            </div>
        </div>
    </div>
    {% endblock %}
    {% include 'UserBundle:Base:footer.html.twig' %}
</main>
</body>
</html>
