{% block deleteComment %}
    <button name="delete{{ comment.id }}" type="submit" class="button">
        X
    </button>
    <div class="deleteCommentWindow delete{{ comment.id }}Window modalWindow">
        <div class="modal">
            <form name="deleteComment/{{ comment.id }}" class="form" method="post">
                <fieldset class="borderForm">
                    <p class="title">Supprimer commentaire ?</p>
                    <div class="commentAnswerInput">
                        <label class="labelAnswer" for="comment{{ comment.id }}Yes">Oui</label>
                        <input class="inputAnswer" type="radio" name="commentAnswer" value="Yes" id="comment{{ comment.id }}Yes"><br>
                    </div>
                    <div class="commentAnswerInput">
                        <label class="labelAnswer" for="comment{{ comment.id }}No">Non</label>
                        <input type="radio" class="inputAnswer" name="commentAnswer" value="No" onclick="location.reload()" id="comment{{ comment.id }}No"><br>
                    </div>
                    <input type="hidden" name="commentId" value="{{ comment.id }}">
                    <input type="submit" class="button" value="DELETE COMMENT">
                </fieldset>
            </form>
            <div class="close"></div>
        </div>
    </div>
{% endblock %}