{% block editVideo %}
    <button name="edit{{ video.youtubeId }}" type="submit">
        Edit Video
    </button>
    <div class="editVideoWindow edit{{ video.youtubeId }}Window modalWindow">
        <div class="modal">
            <form name="editVideo" class="form" method="post">
                <fieldset class="borderForm">
                    <p class="title"> Edit Video : {{ video.videoName }} </p>
                    <div class="linkInput">
                        <input type="url" name="videoUrl" value="https://www.youtube.com/watch?v={{ video.youtubeId }}"><br>
                    </div>
                    <div class="videoNameInput">
                        <input type="text" name="videoName" value="{{ video.videoName }}"><br>
                    </div>
                    <div class="nameInput">
                        <input type="text" name="videoDescription" value="{{ video.description }}"><br><br>
                    </div>
                    <input type="hidden" name="videoId" value="{{ video.id }}">
                    <input type="submit" class="button" value="EDIT VIDEO">
                </fieldset>
            </form>
            <div class="close"></div>
        </div>
    </div>
{% endblock %}