{% include 'UserBundle:Base:head.html.twig' %}

<body>
<main role="main">
    {% include 'UserBundle:Base:header.html.twig' %}
    {% include 'UserBundle:Base:menu.html.twig' %}
    <div class="loader"></div>
    {% if videos is empty %}
        <p>Vous n'avez pas de vidéos</p>
    {% endif %}
    <section class="videos">
        <h4 class="h4Title">Mes vidéos</h4>
        {% include 'UserBundle:Videos:addVideo.html.twig' %}

        {% for video in videos %}
            <article class="videosBlock">
                <div>
                    <a href="/watch/{{ video.youtubeId }}"><img class="imgYoutube"
                                                                src="http://img.youtube.com/vi/{{ video.youtubeId }}/hqdefault.jpg"
                                                                alt="{{ video.youtubeId }}"></a>
                </div>
                <div>
                    <a class="videosName" href="/watch/{{ video.youtubeId }}">{{ video.videoName }}</a>
                </div>

                <div>
                    <p>{% if video.videoViews %}{{ video.videoViews }} vues |{% endif %} {{ video.videoDate.date|date("d/m/Y") }}</p>
                </div>
                {% include 'UserBundle:Videos:editVideo.html.twig' %}
                {% include 'UserBundle:Videos:deleteVideo.html.twig' %}
            </article>
        {% endfor %}
    </section>
    {% include 'UserBundle:Base:footer.html.twig' %}

</main>
</body>
</html>